@model assignment1C_.Models.Manager
@{
    ViewBag.Title = Model.ContactId == 0 ? "Add Contact" : "Edit Contact";
}

<h2>@ViewBag.Title</h2>

<form asp-action="Upsert" method="post">
    <input type="hidden" asp-for="ContactId" />
    <div class="form-group">
        <label asp-for="FirstName">Frist Name</label>
        <input asp-for="FirstName" class="form-control" />
    </div>
    <div class="form-group">
        <label asp-for="LastName"> Last Name</label>
        <input asp-for="LastName" class="form-control" />
    </div>
    <div class="form-group">
        <label asp-for="PhoneNumber">Phone Number</label>
        <input asp-for="PhoneNumber" class="form-control" />
    </div>
    <div class="form-group">
        <label asp-for="Email">Email</label>
        <input asp-for="Email" class="form-control" />
    </div>
    <div class="form-group">
        <label>Category</label>
        <select asp-for="CategoryId" asp-items="@(new SelectList(ViewBag.Categories, "CategoryId", "Name"))" class="form-control">
            <option value="0">Select a Category</option>
        </select>
    </div>
    <button type="submit" class="btn btn-success">Save</button>
    <a class="btn btn-secondary" asp-action="Index">Cancel</a>
</form>
